.banner {
  background-color: black;

  .banner-middle {
    padding-top: 113px;
    padding-bottom: 375px;
  }

  .banner-content {
    padding-top: 113px;
    padding-bottom: 103px;
    font-size: 42px;

    img {
      width: 86px;
      height: 53px;
      margin-right: 42px;
    }

    li:hover {
      color: $primary; //hover變紅色
    }
  }

  .banner-interactive {
    font-size: 36px;
  }
}

.red-rectangle1 {
  background-color: $primary;
  width: 680px;
  height: 420px;

  .red-web1 {
    background-image: url(../images/web戰車下底圖.svg);
    width: 450px;
    height: 300px;
  }

  p {
    font-size: 36px;
    -webkit-text-stroke: 1.5px #3C0C00;
  }
}

.section {
  background-color: black;
}

.red-rectangle2 {
  background-color: $primary;
  width: 680px;
  height: 420px;
  margin-top: 243px;

  p {
    font-size: 36px;
    -webkit-text-stroke: 1.5px #3C0C00;
  }

  .red-duke {
    position: absolute;
    bottom: 0px;
    height: 500px;
  }
}

.red-rectangle3 {
  background-color: $primary;
  width: 680px;
  height: 420px;
  margin-top: 243px;

  p {
    font-size: 36px;
    -webkit-text-stroke: 1.5px #3C0C00;
  }

  .red-tree {
    height: 480px;
    position: absolute;
    bottom: 0;
  }

  .red-duke-s {
    position: absolute;
    bottom: 0;
    left: 150px;
  }
}