.banner {
  background-color: black;

  .banner-middle {
    padding-top: 113px;
    padding-bottom: 375px;
  }

  .banner-content {
    padding-top: 113px;
    padding-bottom: 103px;
    font-size: 42px;

    img {
      width: 86px;
      height: 53px;
      margin-right: 42px;
    }

    li:hover {
      color: $primary; //hover變紅色
    }
  }

  .banner-interactive {
    font-size: 36px;
  }
}

.red-rectangle1 {
  background-color: $primary;
  width: 780px;
  height: 460px;

  .red-web1 {
    background-image: url(../images/web戰車下底圖.svg);
    width: 520px;
    height: 350px;
  }

  p {
    font-size: 36px;
    -webkit-text-stroke: 1.5px #3C0C00; //冒出來字的外框咖啡色

    @include cellphone() {
      font-size: 24px;
      -webkit-text-stroke: 1px #3C0C00;
      top: 100%; //字體變成在下方
      margin: 100px 0px;
    }
  }
}

.section {
  background-color: black;
  padding-bottom: 450px; //padding-bottom
}

.red-rectangle2 {
  background-color: $primary;
  width: 780px;
  height: 460px;
  margin-top: 243px;
  clip-path: inset(-150px 0px 0px -100px); //遮罩

  p {
    font-size: 36px;
    -webkit-text-stroke: 1.5px #3C0C00; //冒出來字的外框咖啡色

    @include cellphone() {
      font-size: 24px;
      -webkit-text-stroke: 1px #3C0C00;
      top: 100%; //字體變成在下方
      margin: 100px 0px; //為何下了RWD字被壓在底下??? 應該是被遮罩擋住//應該不是
    }
  }

  .red-duke {
    position: absolute;
    bottom: 0px;
    height: 500px;
  }

  .dialogue2 {
    width: 280px;
    height: 150px;
    top: -65px;
    left: -50px;
  }
}

.red-rectangle3 {
  background-color: $primary;
  width: 780px;
  height: 460px;
  margin-top: 243px;

  p {
    font-size: 36px;
    -webkit-text-stroke: 1.5px #3C0C00;

    @include cellphone() {
      font-size: 24px;
      -webkit-text-stroke: 1px #3C0C00;
      top: 100%; //字體變成在下方
      margin: 100px 0px;
    }
  }

  .red-tree {
    height: 480px;
    position: absolute;
    bottom: 0;
  }

  .red-duke-s {
    position: absolute;
    bottom: 0;
    left: 150px;
  }
}

.section-mountain {
  .wrap-mountain-2 {
    position: absolute; //下這個裡面div會不見(???
    background-color: pink; //這裡背景顏色在變
    width: 100%; //positio設定後要設定寬高，否則無法顯示
    height: 100%;

  }

  .bg-mountain-2 {
    background-image: url(../images/bg-mountain-2.svg);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: absolute;
    height: 100vh; //寬高"都要"下，不然背景出不來，但為何寬一定要下??不能只下高度嗎?
    width: 100%;
    top: 100;

  }

  .wrap-mountain-3 {
    position: absolute;
    background-color: black;
  }

  .bg-mountain-3 {
    background-image: url(../images/首頁第三區塊-3.png);

    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom right;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 100;
  }

  .wrap-mountain-4 {
    background-color: #CC4F36;
  }

  .bg-mountain-4 {
    background-image: url(../images/L4.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 100;
  }

  .bg-mountain-5 {
    background-image: url(../images/L5.svg);
    //background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 100;
  }
}