@mixin picture(){
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

@mixin pad(){
  @media(max-width:992px){
    @content;
  }
}

@mixin cellphone(){
  @media(max-width:768px){
    @content;
  }
}