*,
*::before,
*::after {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.container{
    max-width:1320px;
    padding: 0px 12px;
    margin: 0 auto;
}